# Environment example

# Private key of deployer (keep secret) (0x...)
DEPLOYER_PRIVATE_KEY=

# Etherscan API key for verification
ETHERSCAN_API_KEY=

# RPC URLs for networks (replace with your provider URLs)
SEPOLIA_RPC_URL=
MAINNET_RPC_URL=
POLYGON_RPC_URL=
BSC_RPC_URL=

# Deployment defaults
OWNER_ADDRESS=0xe04cA6224d28A09aeDDE64EaF7A4392CD0e775F5
INIT_SUPPLY=1000000
NETWORK=sepolia
