# Environment example

DEPLOYER_PRIVATE_KEY=
ETHERSCAN_API_KEY=

SEPOLIA_RPC_URL=
MAINNET_RPC_URL=
POLYGON_RPC_URL=
BSC_RPC_URL=

OWNER_ADDRESS=0xe04cA6224d28A09aeDDE64EaF7A4392CD0e775F5
INIT_SUPPLY=2000000000
NETWORK=sepolia

API_PORT=3000
API_RPC_URL=
VTC_CONTRACT_ADDRESS=
WNB_TREASURY_ADDRESS=
FLEET_CONTRACT_ADDRESS=
